# {{ ansible_managed }}

CgroupMountpoint=/sys/fs/cgroup
CgroupAutomount=no

ConstrainCores=yes
ConstrainRAMSpace=no
ConstrainSwapSpace=yes
AllowedRAMSpace=100.1
MinRAMSpace=500
AllowedSwapSpace=400
ConstrainDevices=yes
